* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7cd75;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 750px;
    height: 400px;
    border-radius: 0px;
    margin: 0;
    padding: 0px;
}

.left-panel,
.right-panel {
  overflow-y: auto;
}

.left-panel {
    padding: 30px;
    background-color: #f2f2f2;
    color: #b4b4b4;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

header {
    font-size: 18px;
    margin-bottom: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plus-sign {
    font-size: 14px;
    color: black;
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.visa {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px; 
    width: 200px;
    height: 110px;
    background-color: #ffffff;
    color: #727277;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #c9c1c1;
}
.visa img {
    max-width: 60px;
    height: auto;
}

.MasterCard {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px 15px; 
    width: 200px;
    height: 110px;
    background-color: #ffffff;
    color: #727277;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 2px solid #8793c6;
}

.MasterCard img {
    max-width: 60px;
    height: auto; 
}

.Maestro {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px 15px; 
    width: 200px;
    height: 110px;
    background-color: #ffffff;
    color: #727277;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #c9c1c1;
}
.Maestro img {
    max-width: 60px;
    height: auto;
}

.visa span,
.MasterCard span,
.Maestro span {
    font-size: 14px;
}

.visa p,
.MasterCard p,
.Maestro p {
  font-size: 12px;
}

.right-panel {
    background-color: #ffffff;
    color: black;
    padding: 30px;
    width: 60%;
    height: 100%;
    background-size: cover;
}

.right-panel header {
    font-size: 18px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-panel header span {
    font-size: 18px;
    font-weight: bold;
}

hr {
    border: 0;
    height: 1px;
    background-color: #e0e0e0;
    margin: 20px 0;
}

.transaction-history {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    gap: 30px;
    margin-bottom: 40px;
}

.minus-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 18px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
}

.plus-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 18px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
}

.transaction-history {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
}

.transaction {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.transaction span {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 3px;
}
.transaction p {
    font-size: 12px;
    color: #8e8e97;
}

.amount-minus {
    display: flex;
    margin-left: 10px;
    color: #8d9cc9;
    font-weight: bold;
}

.amount-plus  {
    color: #8ed064;
    display: flex;
    margin-left: 10px;
    font-weight: bold;
}